/*

@tailwind base;
@tailwind components;
@tailwind utilities;

*/

/* General tag styles */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Change theme color in layout.js as well!*/
* {
  --background: hsl(129, 11%, 54%);
  --primary: hsl(0, 52%, 34%);
  --primary-hover: hsl(0, 52%, 34%);
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
}

body {
  /* This helps create the illusion of movement */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: var(--gray-50);
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0 4%;
  }

  50% {
    background-position: 100% 97%;
  }

  100% {
    background-position: 0 4%;
  }
}

h2 {
  font-family: "Roboto Mono", monospace;
}

.archive-header {
  font-size: 1.2rem;
  gap: 0;
}

p {
  font-size: 1rem;
  color: rgb(4, 4, 19);
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--gray-50);
  --shadow-color: 0deg 0% 63%;
  box-shadow:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
  1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

.modal-button {
  /*background-color: var(--primary);*/
  padding: 8px 10px;
  color: #333333;
  background-color: #f3f3f3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

.modal-button:hover {
  background-color: var(--primary-hover);
  color: #f3f3f3;
}

.modal-button:active {
  background-color: var(--primary-hover);
  color: #f3f3f3;
}

input {
  width: 150px;
  height: 36px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 24px;
  outline: none;
  padding-left: 10px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--primary);
}

.square-button {
  width: 36px;
  height: 36px;
  background-color: var(--primary);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
}

.square-button:hover {
  background-color: var(--primary-hover);
}

.button-patch {
  cursor: pointer;
  color: rgb(195, 195, 195);
  font-size: small;
  background-color: rgb(255, 255, 255, 0);
  border: none;
  text-decoration: underline;
}

.button-patch:hover {
  color: hsl(0, 52%, 34%);
  transition: color 0.5 ease;
}

/* Section styles */

.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0px;
  background: var(--gray-200);
  background-image: url('ooorganize.svg');
  background-size: 250px;
  background-position: center;
  min-height: 100vh;
}

.frosted-glass {
  background: #f9f9f9;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container {
  width: 100%;
  max-width: 800px;
  min-height: 100;
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square {
  flex: 1;
  aspect-ratio: 1/1;
  background-color: var(--gray-600);
  margin-bottom: 6px;
  border-radius: 8px;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess-section {
  min-height: 400px;
}

/* ID styles */
#row {
  display: flex;
  flex-direction: row;
}

#shareScore {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#guess {
  list-style-type: none;
}

#hexList {
  list-style-type: circle;
}

#user-input {
  font-size: 1.5rem;
  margin-right: 8px;
  width: 150px;
}

#input-and-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  margin-bottom: 0;
}

#guess-heading {
  color: rgb(4, 4, 19);
  font-family: "Roboto Mono", monospace;
  size: 1.2rem;
  font-weight: bold;
  padding-bottom: 6px;
}

.status-text {
  padding-bottom: 0;
}

.first-square {
  margin-right: 32px;
}

.ant-switch-checked {
  background: var(--primary) !important;
}

@media screen and (max-width: 650px) {
  .everything {
    padding: 16px 16px;
  }

  .guess-title {
    font-size: 1.25rem;
  }

  .frosted-glass {
    padding: 16px;
  }

  .first-square {
    margin-right: 16px;
  }
}