/*

@tailwind base;
@tailwind components;
@tailwind utilities;

*/

/* General tag styles */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  /* This helps create the illusion of movement */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #C8E1B7 ;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0 4%;
  }

  50% {
    background-position: 100% 97%;
  }

  100% {
    background-position: 0 4%;
  }
}

p {
  font-size: 1rem;
  color: rgb(4, 4, 19);
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 16px;
  background-color: #f3f3f3;
}

.modal-button {
  background-color: #3a743a;
  padding: 6px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.modal-button:hover {
  background-color: #43a043;
}

input {
  width: 150px;
  height: 36px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 24px;
  outline: none;
  padding-left: 10px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #3a743a;
}


/* Section styles */

.everything {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frosted-glass {
  background: rgba(255, 255, 255, 1);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 1px 1px 2px rgb(90, 94, 95);
}

.container {
  width: 100%;
  max-width: 800px;
  min-height: 100;
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: rgb(4, 4, 19);
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  font-weight: bolder;
}

.square {
  flex: 1;
  aspect-ratio: 1/1;
  background-color: #333333;
  margin-bottom: 6px;
  border-radius: 2px;
}

.square-button {
  width: 36px;
  height: 36px;
  background-color: #3a743a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
}

.square-button:hover {
  background-color: #43a043;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.guess-section {
  min-height: 400px;
}

/* ID styles */
#row {
  display: flex;
  flex-direction: row;
}

#shareScore {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#guess {
  list-style-type: none;
}

#hexList {
  list-style-type: circle;
}

#user-input {
  font-size: 1.5rem;
  margin-right: 8px;
  width: 150px;
}

#input-and-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  margin-bottom: 0;
}

#guess-heading {
  color: rgb(4, 4, 19);
  font-family: 'Roboto Mono', monospace;
  size: 1.2rem;
  font-weight: bold;
  padding-bottom: 6px;
}

@media screen and (max-width: 600px) {
  section {
    margin-left: 16px;
    margin-right: 16px;
  }
}